body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, 
  "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color:#595959;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
  font-weight: 500;
}

h2 {
  color:#393939;
  font-weight: 500;
}

h3, h4, h5, h6 {
  color:#494949;
  font-weight: 500;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}
/*code style start*/
code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}
/*code style end*/

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:500;
}

th {
  color:#444;
}

img {
  max-width:100%;
}
/**/
.top-nav{
  background-color: transparent;
  margin-bottom: 20px;
}
.top-nav h1{
  text-shadow: 5px 1px 14px #555;
  line-height: 50px;
  font-size: 48px;
}
/**/
/**/
.side-nav p{
  margin-left: 33px;
}
.side-nav h1{
  margin-top: 33px;
  margin-left: 33px;
}
.side-nav .icon{
  margin-left: 33px;
  font-size: 15px;
  line-height: 2.5em;

}
.side-nav .foot{
  margin-top: 60px;
}


.side-nav .icon a i {
width: 30px;
height: 30px;
background-color: #f4f4f4;
border-radius: 50%;
line-height: 25px;
text-align: center;
padding-top: 4px;
transition: 1s ease-in-out;
}

.side-nav .icon a.ex1 i:hover{
background-color: #cc0000;
color: #fff;
padding-left: 5px;

}

.side-nav .icon a.ex2 i:hover{
background-color: #111;
color: #fff;
padding-left: 5px;

}
.side-nav .icon a.ex3 i:hover{
background-color: #cc0000;
color: #fff;
padding-left: 5px;
}
.side-nav .icon a.ex4 i:hover{
background-color: #cc0000;
color: #fff;
padding-left: 5px;

}
.side-nav .icon a.ex5 i:hover{
background-color: #3366cc;
color: #fff;
padding-left: 5px;
}
/**/

/* Slide-show Start*/
  .slid .slides{
    background-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    
  }
  .slid .slides li .caption {
    top: 85%;
    left: 0%;
    opacity: 0;
    background: rgba(255,255,255,0.6);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    width: 100%;

    }
    .slid .slides li .caption h5 {
    color: #474747;
    line-height: 50px;
    

    }

/*Slide Show End*/

header {
  width:270px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

header ul {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

.intro p{
  font-size: 16px;
  line-height: 1.5em;

}
.menu{
  
  width:270px;
  overflow-y: hidden;
  position:fixed;
  overflow: hidden;
  top:250px;
  -webkit-font-smoothing:subpixel-antialiased;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border:0;
  line-height: 1.8em;
}

.menu ul li{
  width: 250px;
  border-right: 0;
  display: block;
  min-height: 2rem;
}
.collapsible-header{
  font-style: inherit;
  font-size: 15px;
  font-weight:300;
  color: #333;
  min-height: 1rem;
  line-height: 3rem;
  border-bottom:0px;
  font-family: "Ubuntu","Muli","Helvetica","Tahoma","Geneva","Arial",sans-serif;

}
.edit{
  min-height: 2rem;
}
/*.collapsible-header {
    display: block;
    cursor: pointer;
    min-height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
    background-color: #fff;
    /* border-bottom: 1px solid #ddd; 
}*/

.collapsible-header i.material-icons{
  color: #39c;
}
.card-panel h5{
  color: #19719d;
}
.collapsible-header:hover {
  background-color: #f4f4f4;
  /*overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 32px;
  height: 32px;*/
  border-radius: 4px;
   
}
.menu ul li a{
  
  /*float: left;*/
  font-style: inherit;
  font-size: 15px;
  font-weight:300;
  display: block;
  color: #333;
  text-decoration:none;
  transition: 1.2s ease;
  font-family: "Ubuntu","Muli","Helvetica","Tahoma","Geneva","Arial",sans-serif;
  padding-right: 8px
}
/*footer start*/
.menu li.icon ul li{
  float: left;

}
.menu li.icon ul li a{
  margin-left:  10px;
  padding-left: 27px;

}
.menu li.icon {
  width:270px;
  float:left;
  position:fixed;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 17px;
  -webkit-font-smoothing:subpixel-antialiased;
}
.menu li.icon a{
  font-size:13px;
  margin-bottom: 5px;
  padding-left 5px;
  color: #39c;
}
.menu li.icon small a{
  font-size:11px;
}
.menu li.icon p{
  font-size:11px;
}
.menu li.icon i.ex1{
float: left;
background-color: #cc0000;
color: #fff;
width: 25px;
height: 25px;
border-radius: 50%;
line-height: 20px;
text-align: center;
padding-top: 3px;
transition: 1s ease-in-out;

}

.menu li.icon i.ex2{
  float: left;
background-color: #111;
color: #fff;
width: 25px;
height: 25px;
border-radius: 50%;
line-height: 20px;
text-align: center;
padding-top: 3px;
transition: 1s ease-in-out;

}
.menu li.icon i.ex3{
  float: left;
background-color: #cc0000;
color: #fff;
width: 25px;
height: 25px;
border-radius: 50%;
line-height: 20px;
text-align: center;
padding-top: 3px;
transition: 1s ease-in-out;
}
.menu li.icon i.ex4{
  float: left;
background-color: #cc0000;
color: #fff;
width: 25px;
height: 25px;
border-radius: 50%;
line-height: 20px;
text-align: center;
padding-top: 3px;
transition: 1s ease-in-out;

}
.menu li.icon i.ex5{
  float: left;
background-color: #3366cc;
color: #fff;
width: 25px;
height: 25px;
border-radius: 50%;
line-height: 20px;
text-align: center;
padding-top: 3px;
transition: 1s ease-in-out;
}
/*.menu ul li a:hover {
  background-color: #f4f4f4;
  /*overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 32px;
  height: 32px;
  border-radius: 4px;
   
}*/

header li:first-child a {
  border-radius:5px 0 0 5px;
}

header li:last-child a {
  border-radius:0 5px 5px 0;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

header ul a:hover {
  color:#999;
}

header ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:500;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

/*robo-info start*/
.robo-info {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}

/*robo-info-end*/


/*Contact section start*/
/*

.contact .supervisor{
   width: 500px;
   height: 250px;
   padding: 5px;
   margin: auto;
}
.contact .supervisor p{
  float: right;
  width: 66%;
  padding-left: 15px;
}



}

.contact .hend {
  width: 500px;
  padding: 5px;
  margin: auto;
  height: 250px;
}
.contact .hend p{
  float: left;
  width: 66%;
}



}

.contact .amira {
  width: 500px;
  padding: 5px;
  margin: auto;
  height: 250px;
}
.contact .amira p{
  float: right;
  width: 66%;
  padding-left: 15px;
}
 


}

.contact .nehad {
  width: 500px;
  padding: 5px;
  margin: auto;
  height: 250px;
}
.contact .nehad p{
  float: left;
  width: 66%;


}
.contact .muhamed {
  width: 500px;
  padding: 5px;
  margin: auto;
  height: 250px;
}
.contact .muhamed p{
  float: right;
  width: 66%;
  padding-left: 15px;
}
.contact .muhamed img{
  width: 33%;
  opacity: 0.85;
}
.contact .muhamed img:hover{
  opacity: 1;
  transition: 0.5s ease-in-out;


}
.contact .khaled {
  width: 500px;
  padding: 5px;
  margin: auto;
  height: 250px;
}
.contact .khaled p{
  float: left;
  width: 66%;
}
.contact .khaled img{
  width: 33%;
  float: right;
  opacity: 0.85;
}
.contact .khaled img:hover{
  opacity: 1;
  transition: 0.5s ease-in-out;



}
.contact .mahmod {
  width: 500px;
  padding: 5px;
  margin: auto;
  height: 250px;
}
.contact .mahmod p{
  float: right;
  width: 66%;
  padding-left: 15px;
}
.contact .mahmod img{
  width: 33%;
  opacity: 0.85;
}
.contact .mahmod img:hover{
  opacity: 1;
  transition: 0.5s ease-in-out;


}*/
/*Contact section end*/

/*tutorial start*/
.tutorial h2{
  font-family:"Segoe UI", "Lucida Grande", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 3em;
  text-align: center;
}
.tutorial b{
  font-family:"Segoe UI", "Lucida Grande", "Helvetica Neue", sans-serif;
  font-weight: 800;
  line-height: 2em;
}
.tutorial p{
  font-family: "Ubuntu","Muli","Helvetica","Tahoma","Geneva","Arial",sans-serif;
  line-height: 1.5em;
  /*font-family: "Times New Roman", Times, serif;
  font-family: Arial, Helvetica, sans-serif;*/

}
/*tutorial end*/

/*ros tutorial start*/
.rostut img{
  padding-left: 130px;
}
.rostut b{
  font-family:"Segoe UI", "Lucida Grande", "Helvetica Neue", sans-serif;
  font-size: 22px;
  line-height: 1.5em;
  text-align: center !important;

}
.rostut p{
  font-family: "Ubuntu","Muli","Helvetica","Tahoma","Geneva","Arial",sans-serif;
  line-height: 1.6em;
  font-size: 16px;

}
.rostut h1{
  font-family: "Ubuntu","Montserrat","Helvetica","Tahoma","Geneva","Arial",sans-serif;
  text-align: center;
  letter-spacing: -3px;
  font-size: 1.8rem;
  font-weight: 500;
  margin: .85rem 0 1.7rem 0;
  color: #474747;
  display: block;

}

/*ros tutorial end*/


/**/
.collapsible-body{
  padding: 0rem 4rem;
}

.collapsible-body .span .icon{
  font-size: 20px;
}
.collapsible-body  a i {
width: 30px;
height: 30px;
background-color: #f4f4f4;
border-radius: 50%;
line-height: 25px;
text-align: center;
padding-top: 4px;
transition: 1s ease-in-out;
}
.collapsible-body li:hover {
  background-color: #f4f4f4;
  border-radius: 4px;
 width: 100%;
   
}

.collapsible-body  a.ex1 i:hover{
background-color: #cc0000;
color: #fff;


}

.collapsible-body  a.ex2 i:hover{
background-color: #111;
color: #fff;
padding-left: 5px;

}
.collapsible-body  a.ex3 i:hover{
background-color: #cc0000;
color: #fff;
padding-left: 5px;
}
.collapsible-body  a.ex4 i:hover{
background-color: #cc0000;
color: #fff;
padding-left: 5px;

}
.collapsible-body  a.ex5 i:hover{
background-color: #3366cc;
color: #fff;
padding-left: 5px;
}
/**/


/*.menu end */

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  
  -webkit-font-smoothing:subpixel-antialiased;
}

footer .icon{
font-size: 20px;

}

footer a i {
width: 30px;
height: 30px;
background-color: #f4f4f4;
border-radius: 50%;
line-height: 25px;
text-align: center;
padding-top: 4px;
transition: 1s ease-in-out;
}

footer a.ex1 i:hover{
background-color: #cc0000;
color: #fff;
padding-left: 5px;

}

footer a.ex2 i:hover{
background-color: #111;
color: #fff;
padding-left: 5px;

}
footer a.ex3 i:hover{
background-color: #cc0000;
color: #fff;
padding-left: 5px;
}
footer a.ex4 i:hover{
background-color: #cc0000;
color: #fff;
padding-left: 5px;

}
footer a.ex5 i:hover{
background-color: #3366cc;
color: #fff;
padding-left: 5px;
}
/*footer end */

small {
  font-size:11px;

}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}



@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer div.menu{
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
  
  footer {
    position:absolute;
    right:50px;
    top:252px;
  }
  div.menu ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  div.menu {
    padding:0;
  }
  footer {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }
  div.menu ul, div.menu{
    position:static;
  }
  footer ul, footer p.view{
    position:static;
    padding-top: 250px;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }
  div.menu ul {
    width:99%;
  }
  footer ul {
    width:99%;
  }

  div.menu li, div.menu ul li + li + li {
    width:33%;
  }
  footer li, footer ul li + li + li {
    width:33%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
